<html>
    <head> <title> Test </title> </head>
    <body>
        <p> The time during the time of fetch was:- {{current_time}} </p>
        <p>The username is :- {{user.name}}</p>

        <hr>

        {% for _,value in ipairs(user.friends) do %}
            <p>Hello Friend, {{value}}<p>
        {% end %}

        <hr>

        {% if user.is_admin then%}
            <p> Hello, admin </p>
        {% else %}
            <p> You are not an admin </p>
        {% end %}

        <hr>

        <p>This is an image:</p>
        <img src="/assets/logo_large.png" width=250px height=250px>

    </body>
</html>
