<html>
    <head> <title> Hey </title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{
    display:flex;
    flex-direction:column;
    border: 2px solid brown;
    width: 50%;
    margin-left: 25%;
}
</style>
    </head>
    <body>
        <h2> Welcome to my Website </h2>
        <h3> My name is <i> Meyan Adhikari </i> </h3>
        <p> I try to explore stuffs in my free time. </p>

        <footer> This is made using jalo, for more information : <a href="https://github.com/bitwise-rude/jalo">Github</a> </footer>
    </body>
</html>
